body{
  background-image: url("bg.jpg");
}
.outer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  background: transparent;
  backdrop-filter: blur(5px);
  width: 50%;
  height: 50%;
  border-radius: 2%;
  border: 1px solid black;
}

li{
  list-style: none;
  color: goldenrod;
  font-size: 2rem;
}
.search{
  background-color: aquamarine;
  color: black;
}
.search:hover{
  color:aquamarine;
  background-color: black;
}

@media (max-width: 768px){
  body{
    background-image: url("bg.jpg");
  }
  .outer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
  }
  .App {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background: transparent;
    backdrop-filter: blur(5px);
    width: 90%;
    height: 60%;
    border-radius: 2%;
    border: 1px solid black;
  }
  
  li{
    list-style: none;
    color: goldenrod;
    font-size: 1.5rem;
  }

  
}