body{
  background-image: url("bg.jpg");
}
.outer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  background: transparent;
  backdrop-filter: blur(5px);
  width: 50%;
  height: 50%;
  border-radius: 10px;
  border: 1px solid black;
}

li{
  list-style: none;
  color: goldenrod;
  font-size: 2rem;
}
